* {
	box-sizing: border-box;
	font-family: sans-serif;
}

h1 {
	font-size: 1.75em;
	text-align: center;
}

/*Desktop*/
@media (min-width: 992px) {
	.col-lg-4 {
    float: left;
	width: 33.33%;
	}
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 { float: left; }
	
	.col-md-6 { width: 50%; }
	
	.col-md-12 { width: 100%; }
}

/*Mobile*/
@media (max-width: 767px) {
	.col-sm-12 {
	width: 100%;
	float: left;
	}
}

.row {
	width: 100%;
}

.food {
	border: 1px solid black;
	margin: 10px;
	padding: 0 8px 5px 8px;
	background-color: lightgray;
	position: relative;
}

.food h3 {
	font-size: 1.25em;
	border: 1px solid black;
	border-radius: 0 0 0 10px;
	width: 33%;
	margin: 0;
	text-align: center;
	line-height: 30px;
	position: absolute;
	top: -1px;
	right: -1px;
}

.food p {
	margin-top: 40px;
	line-height: 20px;
}

#chicken {
	background-color: #11CC11;
}

#pork {
	background-color: pink;
	color: blue;
}

#beef {
	background-color: #990000;
	color: white;
}