body {
	background-color: #ffcccc;
	color: black;
	font-size: 16px;
}

/*Navigation bar */
.navbar {
	background-color: #ff8888;
	border-radius: 0;
	border: none;
	margin-bottom: 10px;
}

.navbar-brand h1 {
	margin-top: 10px;
	color: black;
}

.navbar-header button.navbar-toggle, .icon-bar {
  border: 1px solid #000;
}

button.navbar-toggle {
  clear: both;
  margin-top: -2px;
}

#nav-list {
	background-color: #ffffaa;
	margin-top: 0;
	margin-bottom: 0;
}

#collapse-foods>#nav-list li>a {
	color: black;
	text-align: center;
	border-bottom: 1px solid lightgrey;
}

#nav-list li:hover {
	background-color: #ffdd88;
}
/*End of navigation bar*/

#main-content section {
	background-color: #ffffcc;
	height: 1400px;
	padding: 1px 20px 0 20px;
	margin-top: 40px;
}

#main-content section h3 {
	margin-top: 10px;
}

@media (min-width: 768px) {
	.navbar {
		height: 90px;
	}
}

@media (max-width: 767px) {
	#main-content section {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}
}